/*Todo: Minification on all styles*/
/*Bootstrap min*/
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left
}
.col-xs-12 {
    width: 100%
}
.col-xs-11 {
    width: 91.66666667%
}
.col-xs-10 {
    width: 83.33333333%
}
.col-xs-9 {
    width: 75%
}
.col-xs-8 {
    width: 66.66666667%
}
.col-xs-7 {
    width: 58.33333333%
}
.col-xs-6 {
    width: 50%
}
.col-xs-5 {
    width: 41.66666667%
}
.col-xs-4 {
    width: 33.33333333%
}
.col-xs-3 {
    width: 25%
}
.col-xs-2 {
    width: 16.66666667%
}
.col-xs-1 {
    width: 8.33333333%
}
.col-xs-pull-12 {
    right: 100%
}
.col-xs-pull-11 {
    right: 91.66666667%
}
.col-xs-pull-10 {
    right: 83.33333333%
}
.col-xs-pull-9 {
    right: 75%
}
.col-xs-pull-8 {
    right: 66.66666667%
}
.col-xs-pull-7 {
    right: 58.33333333%
}
.col-xs-pull-6 {
    right: 50%
}
.col-xs-pull-5 {
    right: 41.66666667%
}
.col-xs-pull-4 {
    right: 33.33333333%
}
.col-xs-pull-3 {
    right: 25%
}
.col-xs-pull-2 {
    right: 16.66666667%
}
.col-xs-pull-1 {
    right: 8.33333333%
}
.col-xs-pull-0 {
    right: auto
}
.col-xs-push-12 {
    left: 100%
}
.col-xs-push-11 {
    left: 91.66666667%
}
.col-xs-push-10 {
    left: 83.33333333%
}
.col-xs-push-9 {
    left: 75%
}
.col-xs-push-8 {
    left: 66.66666667%
}
.col-xs-push-7 {
    left: 58.33333333%
}
.col-xs-push-6 {
    left: 50%
}
.col-xs-push-5 {
    left: 41.66666667%
}
.col-xs-push-4 {
    left: 33.33333333%
}
.col-xs-push-3 {
    left: 25%
}
.col-xs-push-2 {
    left: 16.66666667%
}
.col-xs-push-1 {
    left: 8.33333333%
}
.col-xs-push-0 {
    left: auto
}
.col-xs-offset-12 {
    margin-left: 100%
}
.col-xs-offset-11 {
    margin-left: 91.66666667%
}
.col-xs-offset-10 {
    margin-left: 83.33333333%
}
.col-xs-offset-9 {
    margin-left: 75%
}
.col-xs-offset-8 {
    margin-left: 66.66666667%
}
.col-xs-offset-7 {
    margin-left: 58.33333333%
}
.col-xs-offset-6 {
    margin-left: 50%
}
.col-xs-offset-5 {
    margin-left: 41.66666667%
}
.col-xs-offset-4 {
    margin-left: 33.33333333%
}
.col-xs-offset-3 {
    margin-left: 25%
}
.col-xs-offset-2 {
    margin-left: 16.66666667%
}
.col-xs-offset-1 {
    margin-left: 8.33333333%
}
.col-xs-offset-0 {
    margin-left: 0
}
@media (min-width:768px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-11 {
        width: 91.66666667%
    }
    .col-sm-10 {
        width: 83.33333333%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-8 {
        width: 66.66666667%
    }
    .col-sm-7 {
        width: 58.33333333%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-5 {
        width: 41.66666667%
    }
    .col-sm-4 {
        width: 33.33333333%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-2 {
        width: 16.66666667%
    }
    .col-sm-1 {
        width: 8.33333333%
    }
    .col-sm-pull-12 {
        right: 100%
    }
    .col-sm-pull-11 {
        right: 91.66666667%
    }
    .col-sm-pull-10 {
        right: 83.33333333%
    }
    .col-sm-pull-9 {
        right: 75%
    }
    .col-sm-pull-8 {
        right: 66.66666667%
    }
    .col-sm-pull-7 {
        right: 58.33333333%
    }
    .col-sm-pull-6 {
        right: 50%
    }
    .col-sm-pull-5 {
        right: 41.66666667%
    }
    .col-sm-pull-4 {
        right: 33.33333333%
    }
    .col-sm-pull-3 {
        right: 25%
    }
    .col-sm-pull-2 {
        right: 16.66666667%
    }
    .col-sm-pull-1 {
        right: 8.33333333%
    }
    .col-sm-pull-0 {
        right: auto
    }
    .col-sm-push-12 {
        left: 100%
    }
    .col-sm-push-11 {
        left: 91.66666667%
    }
    .col-sm-push-10 {
        left: 83.33333333%
    }
    .col-sm-push-9 {
        left: 75%
    }
    .col-sm-push-8 {
        left: 66.66666667%
    }
    .col-sm-push-7 {
        left: 58.33333333%
    }
    .col-sm-push-6 {
        left: 50%
    }
    .col-sm-push-5 {
        left: 41.66666667%
    }
    .col-sm-push-4 {
        left: 33.33333333%
    }
    .col-sm-push-3 {
        left: 25%
    }
    .col-sm-push-2 {
        left: 16.66666667%
    }
    .col-sm-push-1 {
        left: 8.33333333%
    }
    .col-sm-push-0 {
        left: auto
    }
    .col-sm-offset-12 {
        margin-left: 100%
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }
    .col-sm-offset-9 {
        margin-left: 75%
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }
    .col-sm-offset-6 {
        margin-left: 50%
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }
    .col-sm-offset-3 {
        margin-left: 25%
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }
    .col-sm-offset-0 {
        margin-left: 0
    }
}
@media (min-width:992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }
    .col-md-12 {
        width: 100%
    }
    .col-md-11 {
        width: 91.66666667%
    }
    .col-md-10 {
        width: 83.33333333%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-8 {
        width: 66.66666667%
    }
    .col-md-7 {
        width: 58.33333333%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-5 {
        width: 41.66666667%
    }
    .col-md-4 {
        width: 33.33333333%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-2 {
        width: 16.66666667%
    }
    .col-md-1 {
        width: 8.33333333%
    }
    .col-md-pull-12 {
        right: 100%
    }
    .col-md-pull-11 {
        right: 91.66666667%
    }
    .col-md-pull-10 {
        right: 83.33333333%
    }
    .col-md-pull-9 {
        right: 75%
    }
    .col-md-pull-8 {
        right: 66.66666667%
    }
    .col-md-pull-7 {
        right: 58.33333333%
    }
    .col-md-pull-6 {
        right: 50%
    }
    .col-md-pull-5 {
        right: 41.66666667%
    }
    .col-md-pull-4 {
        right: 33.33333333%
    }
    .col-md-pull-3 {
        right: 25%
    }
    .col-md-pull-2 {
        right: 16.66666667%
    }
    .col-md-pull-1 {
        right: 8.33333333%
    }
    .col-md-pull-0 {
        right: auto
    }
    .col-md-push-12 {
        left: 100%
    }
    .col-md-push-11 {
        left: 91.66666667%
    }
    .col-md-push-10 {
        left: 83.33333333%
    }
    .col-md-push-9 {
        left: 75%
    }
    .col-md-push-8 {
        left: 66.66666667%
    }
    .col-md-push-7 {
        left: 58.33333333%
    }
    .col-md-push-6 {
        left: 50%
    }
    .col-md-push-5 {
        left: 41.66666667%
    }
    .col-md-push-4 {
        left: 33.33333333%
    }
    .col-md-push-3 {
        left: 25%
    }
    .col-md-push-2 {
        left: 16.66666667%
    }
    .col-md-push-1 {
        left: 8.33333333%
    }
    .col-md-push-0 {
        left: auto
    }
    .col-md-offset-12 {
        margin-left: 100%
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%
    }
    .col-md-offset-9 {
        margin-left: 75%
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%
    }
    .col-md-offset-6 {
        margin-left: 50%
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%
    }
    .col-md-offset-0 {
        margin-left: 0
    }
}
@media (min-width:1200px) {
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left
    }
    .col-lg-12 {
        width: 100%
    }
    .col-lg-11 {
        width: 91.66666667%
    }
    .col-lg-10 {
        width: 83.33333333%
    }
    .col-lg-9 {
        width: 75%
    }
    .col-lg-8 {
        width: 66.66666667%
    }
    .col-lg-7 {
        width: 58.33333333%
    }
    .col-lg-6 {
        width: 50%
    }
    .col-lg-5 {
        width: 41.66666667%
    }
    .col-lg-4 {
        width: 33%
    }
    .col-lg-3 {
        width: 25%
    }
    .col-lg-2 {
        width: 16.66666667%
    }
    .col-lg-1 {
        width: 8.33333333%
    }
    .col-lg-pull-12 {
        right: 100%
    }
    .col-lg-pull-11 {
        right: 91.66666667%
    }
    .col-lg-pull-10 {
        right: 83.33333333%
    }
    .col-lg-pull-9 {
        right: 75%
    }
    .col-lg-pull-8 {
        right: 66.66666667%
    }
    .col-lg-pull-7 {
        right: 58.33333333%
    }
    .col-lg-pull-6 {
        right: 50%
    }
    .col-lg-pull-5 {
        right: 41.66666667%
    }
    .col-lg-pull-4 {
        right: 33.33333333%
    }
    .col-lg-pull-3 {
        right: 25%
    }
    .col-lg-pull-2 {
        right: 16.66666667%
    }
    .col-lg-pull-1 {
        right: 8.33333333%
    }
    .col-lg-pull-0 {
        right: auto
    }
    .col-lg-push-12 {
        left: 100%
    }
    .col-lg-push-11 {
        left: 91.66666667%
    }
    .col-lg-push-10 {
        left: 83.33333333%
    }
    .col-lg-push-9 {
        left: 75%
    }
    .col-lg-push-8 {
        left: 66.66666667%
    }
    .col-lg-push-7 {
        left: 58.33333333%
    }
    .col-lg-push-6 {
        left: 50%
    }
    .col-lg-push-5 {
        left: 41.66666667%
    }
    .col-lg-push-4 {
        left: 33.33333333%
    }
    .col-lg-push-3 {
        left: 25%
    }
    .col-lg-push-2 {
        left: 16.66666667%
    }
    .col-lg-push-1 {
        left: 8.33333333%
    }
    .col-lg-push-0 {
        left: auto
    }
    .col-lg-offset-12 {
        margin-left: 100%
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }
    .col-lg-offset-9 {
        margin-left: 75%
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }
    .col-lg-offset-6 {
        margin-left: 50%
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }
    .col-lg-offset-3 {
        margin-left: 25%
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }
    .col-lg-offset-0 {
        margin-left: 0
    }
}
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
    content: " ";
    display: table
}
.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
    clear: both
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.pull-right {
    float: right!important
}
.pull-left {
    float: left!important
}
.hide {
    display: none!important
}
.show {
    display: block!important
}
.hidden,
.visible-lg,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-md,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-sm,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-xs,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block {
    display: none!important
}
.invisible {
    visibility: hidden
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}
.hidden {
    visibility: hidden!important
}
.affix {
    position: fixed
}
@-ms-viewport {
    width: device-width
}
@media (max-width:767px) {
    .visible-xs {
        display: block!important
    }
    table.visible-xs {
        display: table
    }
    tr.visible-xs {
        display: table-row!important
    }
    td.visible-xs,
    th.visible-xs {
        display: table-cell!important
    }
    .visible-xs-block {
        display: block!important
    }
    .visible-xs-inline {
        display: inline!important
    }
    .visible-xs-inline-block {
        display: inline-block!important
    }
}
@media (min-width:768px) and (max-width:991px) {
    .visible-sm {
        display: block!important
    }
    table.visible-sm {
        display: table
    }
    tr.visible-sm {
        display: table-row!important
    }
    td.visible-sm,
    th.visible-sm {
        display: table-cell!important
    }
    .visible-sm-block {
        display: block!important
    }
    .visible-sm-inline {
        display: inline!important
    }
    .visible-sm-inline-block {
        display: inline-block!important
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .visible-md {
        display: block!important
    }
    table.visible-md {
        display: table
    }
    tr.visible-md {
        display: table-row!important
    }
    td.visible-md,
    th.visible-md {
        display: table-cell!important
    }
    .visible-md-block {
        display: block!important
    }
    .visible-md-inline {
        display: inline!important
    }
    .visible-md-inline-block {
        display: inline-block!important
    }
}
@media (min-width:1200px) {
    .visible-lg {
        display: block!important
    }
    table.visible-lg {
        display: table
    }
    tr.visible-lg {
        display: table-row!important
    }
    td.visible-lg,
    th.visible-lg {
        display: table-cell!important
    }
    .visible-lg-block {
        display: block!important
    }
    .visible-lg-inline {
        display: inline!important
    }
    .visible-lg-inline-block {
        display: inline-block!important
    }
}
@media (max-width:767px) {
    .hidden-xs {
        display: none!important
    }
}
@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none!important
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none!important
    }
}
@media (min-width:1200px) {
    .hidden-lg {
        display: none!important
    }
}
.visible-print {
    display: none!important
}
@media print {
    .visible-print {
        display: block!important
    }
    table.visible-print {
        display: table
    }
    tr.visible-print {
        display: table-row!important
    }
    td.visible-print,
    th.visible-print {
        display: table-cell!important
    }
}
.visible-print-block {
    display: none!important
}
@media print {
    .visible-print-block {
        display: block!important
    }
}
.visible-print-inline {
    display: none!important
}
@media print {
    .visible-print-inline {
        display: inline!important
    }
}
.visible-print-inline-block {
    display: none!important
}
@media print {
    .visible-print-inline-block {
        display: inline-block!important
    }
    .hidden-print {
        display: none!important
    }
}
.center{text-align: center;}
.row {margin-right: -15px !important;margin-left: -15px !important;}
#login{margin:0 auto;}
.portal-header .account-number{text-align: right;}
.portal-header h2, .portal-header h4{margin:0;}
.account-summary{background: #EBECED;}
.account-summary .chart{width:95%;margin: 0;}
#chartContainer{height:250px;width:100%;}
.canvasjs-chart-credit{display: none;}
/* -------------------------------------- *\
    Portal Nav
\* -------------------------------------- */
#menu-portal-menu {
    margin: 10px 0;
    height:40px;
    width:100%;
    overflow: visible;
}
#menu-portal-menu li.current_page_item,
#menu-portal-menu li.current-menu-item,
#menu-portal-menu li.current_page_parent,
.single-locations .menu-item-126,
#menu-portal-menu li:hover {
    background: rgb(88, 9, 21); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(88, 9, 21, 1) 0%, rgba(72, 7, 17, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(88, 9, 21, 1)), color-stop(100%, rgba(72, 7, 17, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(88, 9, 21, 1) 0%, rgba(72, 7, 17, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(88, 9, 21, 1) 0%, rgba(72, 7, 17, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(88, 9, 21, 1) 0%, rgba(72, 7, 17, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(88, 9, 21, 1) 0%, rgba(72, 7, 17, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#580915', endColorstr = '#480711', GradientType = 0); /* IE6-9 */
}
#menu-portal-menu li {
    background: rgb(174, 10, 30); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(174, 10, 30, 1) 0%, rgba(142, 5, 21, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(174, 10, 30, 1)), color-stop(100%, rgba(142, 5, 21, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(174, 10, 30, 1) 0%, rgba(142, 5, 21, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(174, 10, 30, 1) 0%, rgba(142, 5, 21, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(174, 10, 30, 1) 0%, rgba(142, 5, 21, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(174, 10, 30, 1) 0%, rgba(142, 5, 21, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ae0a1e', endColorstr = '#8e0515', GradientType = 0); /* IE6-9 */
    float: left;
    list-style: none;
    position: relative;
    border-righ: 1px #7f0110 solid;
    border-left: 1px #99515a solid;
}
#menu-portal-menu li.menu-item-21 {
    border-radius: 0 5px 5px 0px;
}
#menu-portal-menu li.menu-item-21 a {
    width:90px;
    border-radius: 0 5px 5px 0px;
}
#menu-portal-menu li.menu-item-28 {
    border-radius: 5px 0 0 5px;
}
#menu-portal-menu li.menu-item-28 a {
    width: 53px;
}
#menu-portal-menu li a {
    color: #fff;
    padding: 10px 15px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
#menu-portal-menu li a:hover,
#menu-portal-menu li a:active {
    text-decoration: none;
}
/** Superfish stuff **/
#menu-portal-menu  li:hover > ul,
#menu-portal-menu  li.sfHover > ul {
    display: block;
}
#menu-portal-menu li ul {
    top: 40px;
    left: 0;
    position:absolute;
    z-index:999;
    margin-left:0;
    width:250px;
}
#menu-portal-menu li ul li {
    background: rgb(174, 10, 30);
    float:none;
    display:block;
    border-left:0;
    text-align:left;
}
#menu-portal-menu.sf-js-enabled ul li.current_page_item,
#menu-portal-menu.sf-js-enabled ul li.current-menu-item,
#menu-portal-menu.sf-js-enabled ul li.current_page_parent,
#menu-portal-menu.sf-js-enabled ul li:hover {
    background: rgb(88, 9, 21); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(88, 9, 21, 1) 0%, rgba(72, 7, 17, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(88, 9, 21, 1)), color-stop(100%, rgba(72, 7, 17, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(88, 9, 21, 1) 0%, rgba(72, 7, 17, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(88, 9, 21, 1) 0%, rgba(72, 7, 17, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(88, 9, 21, 1) 0%, rgba(72, 7, 17, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(88, 9, 21, 1) 0%, rgba(72, 7, 17, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#580915', endColorstr = '#480711', GradientType = 0); /* IE6-9 */
}
#menu-portal-menu.sf-js-enabled li ul li a {
    text-align:left;
}
#menu-portal-menu.sf-js-enabled li ul li:last-child {
    border-radius:0 0px 5px 5px;
}
.navbar-default{background-color: transparent;border:0;}
.text-right{text-align: right !important;}
ul.sub-menu{display: none;position: absolute;background: #f1f1f1;z-index: 9;border-width: 0 1px 1px 1px;border-style: none solid solid solid;border-color: transparent #d1d1d1 #d1d1d1 #d1d1d1;}
li.menu-item-has-children:hover ul.sub-menu, 
li.menu-item-has-children:active ul.sub-menu{
    display: block;
} 
ul.sub-menu li{width: 100%;}
ul.sub-menu li a{
    display: inline-block;
    clear:both; 
    border:none !important;
    padding: 10px !important;   
}
ul.sub-menu li a:hover,
ul.sub-menu li a:active{
    background: #d5d5d5;
}
li.menu-item:hover{
    text-decoration: underline;
}
li.menu-item:nth-of-type(2){
}
/* -------------------------------------- *\
    Registration
\* -------------------------------------- */
#login button, input[type="text"],input[type="password"],input[type="email"], select, textarea{width:99%;}
#login .modal .close, 
#login .alert button{
    width: auto;
}
form.register .loading{
    display: block;
    margin: 0 auto;
    width: 75px;
}
form.register .hide-me{
    display: none;
}
.sub-text{
    color: red;
    display: block;
    float: right;
    font-size: 11px;
    line-height: 28px;
}
/* -------------------------------------- *\
    Account Usage Summary
\* -------------------------------------- */
#page .clearfix + .container{width:100%;padding:0;}
img{max-width: 100%;}
.balance img{max-width: 97%;}
.form-control{width:95%;}
.account-balance-summary{}
.account-balance-summary .summary-box,
.account-balance-summary .summary-days-left{text-align: center;}
.account-balance-summary .summary-box h3, 
.account-balance-summary .summary-box h4{margin:5px 0;}
.account-balance-summary .summary-box .fa{font-size:40px;}
.summary-days-left{border-top:1px solid #999;border-bottom:1px solid #999;padding: 10px 0;text-align: center;margin: 10px 0 ;}
.text-balance{border-left:1px solid #999;border-right: 1px solid #999;}
.account-summary{}
.account-summary h4{text-align: center;}
.account-summary .make-payment{width:150px;margin:20px auto;display: block;}
/* -------------------------------------- *\
    Dashboard
\* -------------------------------------- */
.modal-dialog{z-index: 999;}
.modal-title{color:#fff;}
.modal li{list-style-type: none;width:48%;padding:10px;float:left;min-height:133px;margin:2% 0;border: 1px solid transparent;}
.modal li:hover{background:#fafafa;border: 1px solid #dcdcdc;}
.modal li a{display: block;}
.modal li img{display: none;}
.modal li h3{margin:0;padding:0;}
.modal .close{opacity: 1;filter:alpha(opacity=100);color:#fff;}
.modal .add_to_cart_button, 
.modal .add_to_cart_button:hover{
    background: rgb(174, 10, 30) !important; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
    background-image: background: -webkit-linear-gradient(rgba(174, 10, 30, 1) 0%, rgba(142, 5, 21, 1) 100%) !important;
    background-image: background: -o-linear-gradient(rgba(174, 10, 30, 1) 0%, rgba(142, 5, 21, 1) 100%) !important;
    background-image: background: linear-gradient(rgba(174, 10, 30, 1) 0%, rgba(142, 5, 21, 1) 100%) !important;
    background: -o-linear-gradient(rgba(174, 10, 30, 1) 0%, rgba(142, 5, 21, 1) 100%) !important;
    background: linear-gradient(rgba(174, 10, 30, 1) 0%, rgba(142, 5, 21, 1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ae0a1e', endColorstr = '#8e0515', GradientType = 0); /* IE6-9 */
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color:transparent;
    text-indent: 0 !important;
}
@media(max-width:767px){
    .summary-box{border-bottom:1px solid #ccc;padding: 20px;}
    .brand{display: block;margin: 0 auto;}
    .customer-name.pull-right{float:none !important;margin:0 auto;text-align: center;}
    .portal-header .account-number, .account-name{text-align: center;}
    .summary-box{border-left: 0;border-right:0;}
    #menu-top-menu{width:100%;text-align: center;}
    ul.sub-menu li a{padding:15px !important;}
}
/* -------------------------------------- *\
    Checkout
\* -------------------------------------- */
.payment-page{margin-top:2%;}
.checkout-table{}
.checkout-table h1{border-bottom:1px solid #f1f1f1;}
table{width: 100%;overflow: hidden;}
table tr td{text-align: left;padding: 15px 5px;}
table tr + tr{text-align: right;}
table tr.border-top{border-top:1px dotted #d1d1d1;}
table td + td{}
table .static-width{width:20%;}
.checkout-totals{width: 100%;overflow: hidden;}
.checkout-totals tr td{text-align: left;padding: 15px 5px;}
.checkout-totals tr + tr{text-align: right;}
.checkout-totals tr.border-top{border-top:1px dotted #d1d1d1;}
.checkout-totals td + td{}
.checkout-totals .static-width{width:20%;}
.payment-form .form-group.cc-exp, .payment-form .form-group.cc-cvc{float:left;width:49%;}
.submit-payment{width:50%;}
.input-lg{background: #f1f1f1;}
.input-lg:active, 
.input-lg:focus{background: #fff;}
.make-payment .phone-no{width:30%;}
.loader{display: block;margin:0 auto;width:50%;}
/* -------------------------------------- *\
    Shop
\* -------------------------------------- */
.woocommerce ul.products li.product{position:relative;height:200px;background:none !important;border-left:1px solid #B10B1F;border-top:1px solid #B10B1F;}
.woocommerce ul.products li.product a img{display: none;}
#page .products .excerpt{display:none;}
a.add_to_cart_button{margin-top:0 !important;float: left;}
@media (max-width: 979px) and (min-width: 768px){
    .woocommerce ul.products li.product:nth-child(3n+3){
        margin-right: 5% !important;   
    }
}
@media (max-width: 767px){
    .woocommerce ul.products li.product{height:auto !important;text-align: center;}
    a.add_to_cart_button{position: relative;left:auto;}
    .submit-payment{width:96%;}
}
body.home p#nav{display: none;}
/* -------------------------------------- *\
    Errors
\* -------------------------------------- */
.woocommerce-error{
    color:#a94442 !important;
    background-color:#f2dede !important;
}
.alert{padding:10px;}
/* -------------------------------------- *\
    Buttons
\* -------------------------------------- */
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
    background-color:#b10b1f;
    border-color:transparent;
    outline:none;
}
.alert button.close{
    right: 0;
}

