@font-face {
    font-family: 'ariblk';
    src: url('ariblk.eot');
    src: url('ariblk.eot?#iefix') format('embedded-opentype'),
         url('ariblk.woff') format('woff'),
         url('ariblk.ttf') format('truetype'),
         url('ariblk.svg#ariblk') format('svg');
    font-weight: normal;
    font-style: normal;
}
